@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Playfair+Display", serif;
    border: 5px solid gray;
    background-color:hsl(211, 22%, 81%);
    color:#112A46 ;
    margin: 9rem;
    padding: 3rem;
    
   
}
.birth{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
        align-items: center;
    
}

a{
    text-decoration: none;
    text-shadow: 9px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a:focus,a:hover{
    color: red  ;
}
a:active{
    background-color: hsl(211, 22%, 81%);
}